@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icons/icomoon.eot?h73c74");
  src: url("/fonts/icons/icomoon.eot?h73c74#iefix") format("embedded-opentype"), url("/fonts/icons/icomoon.ttf?h73c74") format("truetype"), url("/fonts/icons/icomoon.woff?h73c74") format("woff"), url("/fonts/icons/icomoon.svg?h73c74#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\E900";
}

.icon-comment:before {
  content: "\E901";
}

.icon-delete:before {
  content: "\E902";
}

.icon-eye:before {
  content: "\E903";
}

.icon-fcomment:before {
  content: "\E904";
}

.icon-feye:before {
  content: "\E905";
}

.icon-fheart:before {
  content: "\E906";
}

.icon-filter:before {
  content: "\E907";
}

.icon-frate:before {
  content: "\E908";
}

.icon-fshare:before {
  content: "\E909";
}

.icon-good:before {
  content: "\E90A";
}

.icon-heart:before {
  content: "\E90B";
}

.icon-logout:before {
  content: "\E90C";
}

.icon-mail:before {
  content: "\E90D";
}

.icon-notification:before {
  content: "\E90E";
}

.icon-ordering:before {
  content: "\E90F";
}

.icon-password:before {
  content: "\E910";
}

.icon-pseudo:before {
  content: "\E911";
}

.icon-quiz:before {
  content: "\E912";
}

.icon-random:before {
  content: "\E913";
}

.icon-rate:before {
  content: "\E914";
}

.icon-reset:before {
  content: "\E915";
}

.icon-rule:before {
  content: "\E916";
}

.icon-search:before {
  content: "\E917";
}

.icon-share:before {
  content: "\E918";
}

.icon-sound:before {
  content: "\E919";
}

.icon-user:before {
  content: "\E91A";
}

.icon-wrong:before {
  content: "\E91B";
}

@font-face {
  font-family: "ubuntu_condensedregular";
  src: url("/fonts/ubuntu/ubuntu-c-webfont.eot");
  src: url("/fonts/ubuntu/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ubuntu/ubuntu-c-webfont.woff2") format("woff2"), url("/fonts/ubuntu/ubuntu-c-webfont.woff") format("woff"), url("/fonts/ubuntu/ubuntu-c-webfont.ttf") format("truetype"), url("/fonts/ubuntu/ubuntu-c-webfont.svg#ubuntu_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

