<template>
    <div v-if="!loading">
        <transition :name="transitionName"
                mode="out-in">
            <router-view></router-view>
        </transition>

        <footer class="wrap-main-footer">
            <ul class="wrap-navbar">
                <li v-for="(route, key) in routes">
                    <router-link class="item-menu" :to="{ name : route.path }" :key="key"><i v-bind:class="route.icon"></i>{{ route.name }}</router-link>
                </li>
            </ul>
        </footer>
    </div>
    <Spinner v-else/>
</template>

<script>
    import Spinner from './Spinner.vue';

    const DEFAULT_TRANSITION = 'fade';

    export default {
        components: {
            Spinner
        },
        data() {
            return {
                transitionName: DEFAULT_TRANSITION,
                routes: [
                    {
                        name: 'Accueil',
                        path: 'home',
                        icon: 'icon-rule'
                    },
                    {
                        name: 'Favoris',
                        path: 'favourites',
                        icon: 'icon-heart'
                    },
                    {
                        name: 'Quiz',
                        path: 'dashboard',
                        icon: 'icon-quiz'
                    },
                    {
                        name: 'Profil',
                        path: 'profile',
                        icon: 'icon-user'
                    }
                ],
                loading: false
            }
        },
        created() {
            console.log("Component App created");

            this.loading = true;
            setTimeout(() => {
                this.loading = false;
            }, 3000);
        },
        watch: {
            $route(to, from) {
                document.title = to.meta.title || 'Some Default Title';

                let transitionName = to.meta.transitionName || from.meta.transitionName;
                if (transitionName === 'slide') {
                    const toDepth = to.path.split('/').length;
                    const fromDepth = from.path.split('/').length;
                    transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
                }
                this.transitionName = transitionName || DEFAULT_TRANSITION;
            },
        },
        mounted() {
            console.log('Component App mounted.');
        },
    }
</script>

<style lang="scss">
    @import '~@/app.scss';

    html,
    body,
    body > div {
        width: 100%;
        min-height: 100%;
    }

    body {
        font-family: $font-family-primary;
        font-size: 1.4rem;
        line-height: $line-height-base;
        font-weight: $medium;
        color: $grey-dark;

        .no-footer + .wrap-main-footer {
            display: none !important;
        }
    }

    a {
        color: $grey-dark;

        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    main {
        width: 100%;
        min-height: calc(100vh - 5.4rem - 6rem);
    }

    .wrap-main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1.5rem 2rem !important;
        @include shadow();
        color: $orange-light;

        .main-title {
            font-size: 2rem;
            line-height: 2.4rem;

            [class^="icon-"], [class*=" icon-"] {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }

        [class^="icon-"], [class*=" icon-"] {
            font-size: 2rem;
            font-weight: $bold;
        }
    }

    .list-rule-categories {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;

        .item-rule-category {
            background-color: $white;
            margin: 0.5rem 1rem;
            padding: 1rem 2rem;
            @include shadow();
            border: .2rem solid $orange-dark;
            -moz-border-radius: 5rem;
            -webkit-border-radius: 5rem;
            border-radius: 5rem;
            font-family: $font-family-secondary;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: $orange-light;

            &:first-child {
                margin-left: 0;
            }
            &:first-child {
                margin-right: 0;
            }
        }
    }

    .list-rule-details {
        display: flex;
        font-family: $font-family-secondary;
        margin-top: 1rem;

        .item-rule-detail {
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            [class^="icon-"], [class*=" icon-"] {
                margin-right: .75rem;
            }

            &:first-child {
                padding-left: 0;
            }

            &:not(:last-child) {
                border-right: .1rem solid $grey-dark;
            }
        }
    }

    .wrap-main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;

        .wrap-navbar {
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-family-secondary;
            text-transform: uppercase;
            text-align: center;
            height: 6rem;
            @include shadow();

            > * {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .item-menu {
                    position: relative;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    color: $orange-light;
                    height: 6rem;
                    padding: .5rem 0;

                    [class^="icon-"], [class*=" icon-"] {
                        font-size: 2.5rem;
                        margin-bottom: .5rem;
                    }

                    &.router-link-active {
                        color: $orange-dark;

                        [class^="icon-"], [class*=" icon-"] {
                            position: absolute;
                            top: -3rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $orange-dark;
                            color: $white;
                            width: 5rem;
                            height: 5rem;
                            -moz-border-radius: 50%;
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: -3.3rem;
                            left: 0;
                            width: 100%;
                            height: 3.3rem;
                            background-image: url('/svg/active.svg');
                            background-size: 9.4rem 3.3rem;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0
    }

    /*.slide-fade-enter-active {*/
        /*transition: all .3s ease;*/
    /*}*/
    /*.slide-fade-leave-active {*/
        /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
    /*}*/
    /*.slide-fade-enter, .slide-fade-leave-to*/
        /*!* .slide-fade-leave-active below version 2.1.8 *! {*/
        /*transform: translateX(10px);*/
        /*opacity: 0;*/
    /*}*/

    .slide-left-enter-active,
    .slide-left-leave-active,
    .slide-right-enter-active,
    .slide-right-leave-active {
        transition-duration: 0.5s;
        transition-property: height, opacity, transform;
        transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
        overflow: hidden;
    }

    .slide-left-enter,
    .slide-right-leave-active {
        opacity: 0;
        transform: translate(2em, 0);
    }

    .slide-left-leave-active,
    .slide-right-enter {
        opacity: 0;
        transform: translate(-2em, 0);
    }
</style>