<template>
    <div class="background no-footer">
        <main>
            <button class="button-ignore" @click="redirection">Ignorer</button>
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
            <div class="wrap-authentification">
                <div class="wrap-tabs-button">
                    <button v-for="tab in tabs"
                        v-bind:key="tab.component"
                        v-bind:class="['tab-button', { active: currentTab === tab.component }]"
                        v-on:click="currentTab = tab.component">
                        {{ tab.name }}
                    </button>
                </div>

                <keep-alive>
                    <component
                            v-bind:is="currentTabComponent"
                            class="tab"
                    ></component>
                </keep-alive>
            </div>
        </main>
    </div>
</template>

<script>
    import Login from './Login';
    import Register from './Register';

    export default {
        name: 'auth',
        components: {
            Login,
            Register,
        },
        data() {
            return {
                currentTab: 'Login',
                tabs: [
                    {
                        name: 'Se connecter',
                        component: 'Login',
                    },
                    {
                        name: 'S\'inscrire',
                        component: 'Register',
                    },
                ]
            }
        },
        computed: {
            currentTabComponent: function () {
                return this.currentTab.toLowerCase()
            }
        },
        methods: {
            redirection() {
                this.$router.push({ name: 'home' });
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/app.scss';

    main {
        width: 100%;
        min-height: 100vh;
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    }

    .button-ignore {
        display: block;
        margin-left: auto;
        background-color: rgba(255, 255, 255, .3);
        border: .15rem solid $white;
        border-radius: 5rem;
        font-family: $font-family-secondary;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $white;
        align-items: center;
        padding: .5rem 1rem;
    }

    #logo {
        width: 100%;
        max-width: 23rem;
        display: block;
        margin: 0 auto;
        z-index: 1;
    }

    .wrap-authentification {
        background-color: $white;
        @include shadow();
        border-radius: 1rem;
        width: 100%;
        max-width: 33rem;
        margin-top: -1.5rem;
        padding: 2rem 1.5rem 0 1.5rem;

        .wrap-tabs-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            .tab-button {
                border: none;
                background: transparent;
                width: 100%;
                padding: 1.5rem;
                font-family: $font-family-secondary;
                font-size: 1.5rem;
                color: $grey-light;
                text-transform: uppercase;
                border-bottom: .15rem solid $grey-light;

                &.active {
                    border-bottom: .15rem solid $orange-dark;
                    color: $orange-dark;
                }
            }
        }

        .tab {
            padding: 2rem 0;
        }
    }
</style>
