<template>
    <div class="background">
        <header class="wrap-main-header">
            <h1 class="main-title">Quiz</h1>
        </header>

        <div v-if="!loaded" class="wrap-loading-logo">
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
        </div>

        <main v-else>
            <!--<div class="wrap-emoji">-->
                <div class="background-img-emoji" :style="{ background: 'url(' + level.current_level_background + ')' }">
                    <img class="img-emoji" :src="level.current_level_emoji"/>
                </div>
            <!--</div>-->

            <div class="wrap-pseudonyme">
                <p class="level-title">{{ level.current_level_title }}</p>
                <h3 class="user-pseudo">{{ dashboard[0].pseudo }}</h3>
            </div>
            <div class="wrap-content-dashboard">
                <div class="wrap-levels">
                    <p class="label-level">Niveau</p>
                    <p><span class="actual-level">{{ level.current_level_id }}</span>/{{ level.total_levels }}</p>
                    <p>{{ level.current_level_name }}</p>
                </div>

                <p v-if="goodAnswers !== undefined && goodAnswers === 1" class="number-correct-answers">{{ goodAnswers }} bonne réponse <span class="number-score">{{ score }} nouveaux points</span></p>
                <p v-else-if="goodAnswers !== undefined && goodAnswers > 1" class="number-correct-answers">{{ goodAnswers }} bonnes réponses <span class="number-score">{{ score }} nouveaux points</span></p>

                <div class="wrap-next-level">
                    <p class="label-next-level">Niveau suivant</p>
                    <div class="wrap-content-progress">
                        <div class="progress-bar">
                            <div class="current-score" :style="{ width: level.current_score + '%'}">

                            </div>
                        </div>
                        <div class="wrap-datas-next-level">
                            <img class="thumb-next-level" :src="level.next_level_thumb" alt="Miniature du prochain niveau" />
                            <p class="name-next-level">{{ level.next_level_name }}</p>
                        </div>
                    </div>
                    <p class="actual-score">{{ dashboard[0].score }}/{{ dashboard[0].level.score }}</p>
                </div>
            </div>

            <router-link class="button-play" :to="{ name: 'quiz' }">Jouer</router-link>
        </main>
    </div>
</template>

<script>
    import Spinner from './Spinner';

    export default {
        components: {
            Spinner,
        },
        data() {
            return {
                loaded: false,
                level: {},
                score: undefined,
                goodAnswers: undefined,
            }
        },
        mounted() {
            console.log('Component Quiz mounted.');
            console.log(this.$route.params);
            if (this.$route.params.goodAnswers !== null) {
                this.score = this.$route.params.score;
                this.goodAnswers = this.$route.params.goodAnswers;
            } else {
                this.score = undefined;
                this.goodAnswers = undefined;
            }
        },
        created() {
            this.$store.dispatch('getDashboard').then(res => {
                let userDashboard = this.dashboard[0];
                console.log(userDashboard);

                let levels = this.dashboard[1];
                console.log("levels :");
                console.log(levels);

                let nextNevel = undefined;
                for (var i = 0; i < levels.length; ++i){
                    if (levels[i]['level'] === userDashboard.level.level + 1) {
                        nextNevel = levels[i];
                    }
                }
                console.log("next level :");
                console.log(nextNevel);

                let userName = userDashboard.gender === "male" ? userDashboard.level.name : userDashboard.level.female_name;
                let userNameNextLevel = userDashboard.gender === "male" ? nextNevel.name : nextNevel.female_name;
                let userTitle = userDashboard.gender === "male" ? userDashboard.level.title : userDashboard.level.female_title;
                let scorePercentage = ((userDashboard.score * 100) / userDashboard.level.score).toFixed(2);

                let level = {
                    current_level_id: userDashboard.level.level,
                    total_levels: levels.length,
                    current_level_name: userName,
                    current_level_title: userTitle,
                    current_level_emoji: "../svg/quiz/" + userDashboard.level.emoji,
                    current_level_background: "../svg/quiz/" + userDashboard.level.background,
                    next_level_thumb: "../svg/quiz/" + nextNevel.thumb,
                    next_level_name: userNameNextLevel,
                    current_score: scorePercentage,
                };

                this.level = level;
                    this.loaded = true;
            }).catch(err => console.log(err));
        },
        computed: {
            dashboard() {
                return this.$store.state.dashboard;
            }
        },
    }
</script>

<style lang="scss">
    @import '~@/app.scss';

    main {
        padding: 0 1.5rem;
    }

    .background {
        background: url("/images/bg.png") top center no-repeat fixed;
        background-size: cover;
        height: 100%;
    }

    .background-img-emoji {
        background-position: top center !important;
        background-repeat: no-repeat !important;
        background-size: 23rem !important;
        margin: .5rem auto 0 auto;
        width: 23rem;
        height: 19rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1rem;

        .img-emoji {
            width: 11rem;
        }
    }

    .wrap-pseudonyme {
        position: relative;
        background: url("/svg/quiz/bloc.svg") center no-repeat;
        background-size: cover;
        width: 25rem;
        height: 6.7rem;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: $bold;

        .level-title {
            font-family: $font-family-secondary;
            text-transform: uppercase;
        }

        .user-pseudo {
            font-size: 2rem;
        }
    }

    .wrap-content-dashboard {
        background-color: $white;
        border-radius: 1rem;
        width: 100%;
        margin: -1.5rem auto 0 auto;
        z-index: -1;
        padding: 0 1.5rem 3rem 1.5rem;

        .wrap-levels {
            background-color: $orange-light;
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            width: 11.5rem;
            padding: 2.5rem 1rem 1rem 1rem;
            color: $white;
            margin: 0 auto 1rem auto;
            text-align: center;
            font-size: 1.4rem;

            .label-level {
                font-family: $font-family-secondary;
                text-transform: uppercase;
                margin-bottom: .5rem;
            }

            .actual-level {
                font-size: 3rem;
            }
        }

        .number-correct-answers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;

            .number-score {
                font-family: $font-family-secondary;
                text-transform: uppercase;
            }
        }

        .wrap-next-level {
            text-align: center;

            .label-next-level {
                font-family: $font-family-secondary;
                text-transform: uppercase;
                color: $orange-dark;
            }

            .wrap-content-progress {
                width: 25rem;
                display: flex;
                align-items: center;
                margin: 0 auto;
                margin-top: -1.5rem;

                .progress-bar {
                    border: .15rem solid $orange-dark;
                    border-top-left-radius: 5rem;
                    border-bottom-left-radius: 5rem;
                    border-right: none;
                    height: 3rem;
                    width: calc(100% - 7rem);

                    .current-score {
                        border-radius: 5rem;
                        height: calc(3rem - .3rem);
                        background: $orange-light;
                    }
                }

                .wrap-datas-next-level {
                    background-color: $grey-dark;
                    border: .3rem solid $white;
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;

                    .thumb-next-level {
                        max-width: 3rem;
                        max-height: 3rem;
                    }

                    .name-next-level {
                        color: $white;
                        font-size: 1rem;
                    }
                }
            }

            .actual-score {
                margin-top: -1.5rem;
                color: $orange-light;
            }
        }
    }

    .button-play {
        width: 26rem;
        height: 5rem;
        background: linear-gradient(to right, $orange-dark, $orange-light);
        border: none;
        border-radius: 5rem;
        font-size: 2rem;
        font-weight: $bold;
        text-transform: uppercase;
        color: $white;
        margin: -2.5rem auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
