<link rel="stylesheet" href="../../sass/app.scss">
<template>
    <div>
        <header class="wrap-main-header">
            <h1 class="main-title">Favoris</h1>
        </header>

        <div v-if="!loaded" class="wrap-loading-logo">
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
        </div>

        <div v-else>
            <rule v-if="rules.data.length > 0" :rules="rules" :pagination="pagination" @fetchRules="fetchRules"></rule>
            <div class="wrap-no-result background" v-else>
                <p>Pas de favoris pour le moment :)</p>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from './Spinner';
    import Rule from './Rule';

    export default {
        name: 'favourite',
        components: {
            Spinner,
            Rule,
        },
        data() {
            return {
                loaded: false,
                pagination: {},
            }
        },
        created() {
            console.log("Favourite component created");
            this.$store.dispatch('getFavourites', {
                url: '/api/favourites',
            }).then(res => {
                this.makePagination(this.rules.meta, this.rules.links);
                this.loaded = true;
            });
        },
        computed: {
            rules: {
                get() {
                    return this.$store.state.favourites;
                },
                set() {
                    return this.$store.state.favourites;
                }
            }
        },
        methods: {
            fetchRules(page_url) {
                console.log("page_url");
                console.log(page_url);
                let vm = this;
                page_url = page_url || '/api/rules';
                console.log(vm);
                console.log(page_url);
                this.$store.dispatch('getRules', {
                    url: page_url,
                }).then(res => {
                    console.log(this);
                    console.log(this.$store.state.rules);

                    this.rules = this.$store.state.rules.data;
                    this.makePagination(this.$store.state.rules.meta, this.$store.state.rules.links);
                }).catch(err => console.log(err));
            },
            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    previous_page_url: links.prev,
                };

                this.pagination = pagination;
            },
        }
    }
</script>

<style lang="scss">
    @import '~@/app.scss';

    .wrap-no-result {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 5.4rem - 6rem) !important;
        padding: 3rem;
        text-align: center;

        > p {
            background-color: $white;
            @include shadow();
            padding: 5rem 1.5rem;
            width: 100%;
            color: $orange-dark;
            border-radius: 1rem;
        }
    }
</style>
