<template>
    <div>
        <header class="wrap-main-header">
            <h1 class="main-title">Accueil</h1>
        </header>

        <div v-if="!loaded" class="wrap-loading-logo">
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
        </div>

        <div v-else>
            <transition  name="zoom"
                         mode="in-out"
                         enter-active-class="zoom-enter-active">
                <rule :rules="rules" :pagination="pagination" @fetchRules="fetchRules"></rule>
            </transition>
        </div>
    </div>
</template>

<script>
    import Spinner from './Spinner';
    import Rule from './Rule';
    export default {
        name: 'home',
        components: {
            Spinner,
            Rule,
        },
        data() {
            return {
                loaded: false,
                pagination: {},
            }
        },
        created() {
            console.log("Home component created");
            this.$store.dispatch('getRules', {
                url: '/api/rules',
            }).then(res => {
                this.makePagination(this.rules.meta, this.rules.links);
                this.loaded = true;
            });
        },
        computed: {
            rules: {
                get() {
                    return this.$store.state.rules;
                },
                set() {
                    return this.$store.state.rules;
                }
            }
        },
        methods: {
            fetchRules(page_url) {
                console.log("page_url");
                console.log(page_url);
                let vm = this;
                page_url = page_url || '/api/rules';
                console.log(vm);
                console.log(page_url);
                this.$store.dispatch('getRules', {
                    url: page_url,
                }).then(res => {
                    console.log(this);
                    console.log(this.$store.state.rules);

                    this.rules = this.$store.state.rules.data;
                    this.makePagination(this.$store.state.rules.meta, this.$store.state.rules.links);
                }).catch(err => console.log(err));
            },
            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    previous_page_url: links.prev,
                };

                this.pagination = pagination;
            },
        }
    }
</script>

<style lang="scss">
    .wrap-loading-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 5.4rem - 6rem);
        padding: 3rem;

        #logo {
            width: 100%;
            max-width: 35rem;
        }
    }
</style>
