<template>
    <div>
        <form method="POST" action="#" @submit.prevent="login">
            <div class="wrap-input">
                <!--<label class="label-input" for="email"><i class="icon-mail"></i>Adresse e-mail</label>-->
                <input class="input" id="email" type="email" name="email" v-model="email" required autofocus>
                <span class="focus-input" data-placeholder="Email"></span>
                <i class="icon-input icon-mail"></i>
            </div>

            <div class="wrap-input">
                <input class="input" id="password" type="password" name="password" v-model="password" required>
                <span class="focus-input" data-placeholder="Mot de passe"></span>
                <i class="icon-input icon-password"></i>
            </div>

            <button class="button-form-validation" type="submit">Se connecter</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'login',
        data() {
            return {
                email: '',
                password: '',
                passwordFieldType: 'password',
            }
        },
        methods: {
            login() {
                this.$store.dispatch('retrieveToken', {
                    email: this.email,
                    password: this.password,
                }).then(response => {
                    this.$router.push({ name: 'home' })
                });
            },
            switchVisibility() {
                this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
            },
        }
    }
</script>

<style lang="scss">
    @import '~@/app.scss';

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; }
    input:focus:-ms-input-placeholder { color:transparent; }

    input::-webkit-input-placeholder {
        color: $orange-light;
    }
    input:-moz-placeholder {
        color: $orange-light;
    }
    input::-moz-placeholder {
        color: $orange-light;
    }
    input:-ms-input-placeholder {
        color: $orange-light;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        font-family: $font-family-primary;
        font-size: 1.5rem;
        border: none;
        -webkit-text-fill-color: $orange-dark;
        -webkit-box-shadow: 0 0 0 100rem $white inset;
        transition: background-color 5000s ease-in-out 0s;

        &+ .focus-input::after {
            top: -1.75rem;
            padding-left: .5rem;
        }

        &+ .focus-input::before {
            width: 100%;
        }
    }

    .wrap-input {
        width: 100%;
        position: relative;
        border-bottom: .2rem solid $grey-light !important;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        .input {
            outline: none;
            color: $orange-dark;
            line-height: 1.2;
            display: block;
            width: 100%;
            height: 4rem;
            background: transparent !important;
            padding: 0 .7rem 0 4.3rem;
            border: none;

            &.has-val + .focus-input::after {
                top: -1.75rem;
                padding-left: .5rem;
            }

            .has-val + .focus-input::before {
                width: 100%;
            }

            &:focus {
                &+ .focus-input::after {
                    top: -1.75rem;
                    padding-left: .5rem;
                }

                &+ .focus-input::before {
                    width: 100%;
                    background: $orange-light;
                    background: -webkit-linear-gradient(to left, $grey-light, $orange-dark);
                    background: -o-linear-gradient(to left, $grey-light, $orange-dark);
                    background: -moz-linear-gradient(to left, $grey-light, $orange-dark);
                    background: linear-gradient(to left, $grey-light, $orange-dark);
                }
            }
        }

        .icon-input {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;

            &:before {
                color: $grey-dark;
                font-size: 2rem;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                height: 100%;
                /*height: calc(100% - 20px);*/
                bottom: 0;
                left: 0;
                padding-left: 1.3rem;
                padding-top: .3rem;
            }
        }

        .focus-input {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;

            &:after {
                font-family: $font-family-secondary;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $orange-light;
                line-height: 1.2;

                content: attr(data-placeholder);
                display: block;
                width: 100%;
                position: absolute;
                top: 1.6rem;
                left: 0;
                padding-left: 4.3rem;

                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                -moz-transition: all 0.4s;
                transition: all 0.4s;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: -.2rem;
                left: 0;
                width: 0;
                height: .2rem;

                /*-webkit-transition: all 0.4s;*/
                /*-o-transition: all 0.4s;*/
                /*-moz-transition: all 0.4s;*/
                /*transition: all 0.4s;*/
            }
        }
    }

    .button-form-validation {
        width: 100%;
        max-width: 26rem;
        height: 5rem;
        background: linear-gradient(to right, $orange-dark, $orange-light);
        border: none;
        border-radius: 5rem;
        font-size: 2rem;
        font-weight: $bold;
        text-transform: uppercase;
        color: $white;
        margin: 0 auto -4.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
