<script>
    export default {
        name: 'modal',
        methods: {
            close() {
                this.$emit('close');
            },
        },
    };
</script>

<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription">
                <header class="modal-header"
                        id="modalTitle">
                    <slot name="header">

                    </slot>
                </header>
                <section class="modal-body"
                        id="modalDescription">
                    <slot name="body">

                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                        <button type="button"
                                class="btn-close"
                                @click="close"
                                aria-label="Close modal">
                            J'ai compris
                        </button>
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<style lang="scss" scoped>
    @import '~@/app.scss';

    .modal-backdrop {
        z-index: 999;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
    }

    .modal {
        background: $white;
        @include shadow();
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 0 2rem;
    }

    .modal-header,
    .modal-footer {
        padding: 1.5rem 0;
        display: flex;
    }

    .modal-header {
        border-bottom: .15rem solid $grey-light;
        color: $orange-dark;
        justify-content: space-between;
    }

    .modal-footer {
        border-top: .15rem solid $grey-light;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 2rem 1rem;
    }

    .btn-close {
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: $orange-dark;
        font-weight: $medium;
        letter-spacing: .1rem;
    }
</style>