<template>
    <div class="background">
        <header class="wrap-main-header">
            <h1 class="main-title">Profil</h1>
        </header>

        <div v-if="!loaded" class="wrap-loading-logo">
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
        </div>

        <main v-else>
            <section class="wrap-profile-datas">
                <ul class="list-profile-datas">
                    <li class="item-profile-datas"><label><i class="icon-mail"></i>E-mail</label><span>{{ this.profile.email }}</span></li>
                    <li class="item-profile-datas"><label><i class="icon-pseudo"></i>Pseudonyme</label><span>{{ this.profile.pseudo }}</span></li>
                    <!--<li class="item-profile-datas"><label for="pseudo"><i class="icon-pseudo"></i>Pseudonyme</label><input type="text" id="pseudo" v-model="pseudo" disabled></li>-->
                    <!--<li class="item-profile-datas"><label for="sounds">Effets sonores</label><span><input type="checkbox" id="sounds" v-model="sounds"></span></li>-->
                    <!--<li class="item-profile-datas"><span>Notifications</span><span>{{ this.profile.notifications }}</span></li>-->
                    <li class="item-profile-datas"><label><i class="icon-delete"></i>Compte</label><button>Suppression</button></li>
                </ul>
                <div class="wrap-logout">
                    <button @click="logout()"
                            class="button-logout">
                        <i class="icon-logout"></i>
                        Déconnexion
                    </button>
                </div>
            </section>
        </main>
    </div>
</template>

<script>
    import Spinner from './Spinner';

    export default {
        components: {
            Spinner,
        },
        data: function () {
            return {
                loaded: false,
                pseudo: '',
            }
        },
        mounted() {
            console.log('Component Profile mounted.');
            this.$store.dispatch('getProfile');
        },
        created() {
            if(!this.loggedIn) {
                this.$router.push({ name: 'auth' })
            }

            this.$store.dispatch('getProfile').then(response => {
                this.pseudo = this.profile.pseudo;
                this.loaded = true;
            });
        },
        computed: {
            profile() {
                return this.$store.state.profile;
            },
            loggedIn() {
                return this.$store.getters.loggedIn;
            },
        },
        methods: {
            logout() {
                this.$store.dispatch('clearFavourites');
                this.$store.dispatch('destroyToken').then(response => {
                    this.$router.push({ name: 'auth' })
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/app.scss';

    main {
        height: 100%;
        margin-bottom: 0;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="text"] {
        border: none;
        background: transparent;
        border-bottom: .1rem solid $grey-light;
        font-family: $font-family-primary;
        font-size: 1.4rem;
        font-weight: $regular;
        color: $orange-light;
        text-align: right;
        width: 100%;
        margin: 0;
        padding: .5rem;
    }

    .wrap-profile-datas {
        width: 100%;
        background-color: $white;
        @include shadow();
        border-radius: 1rem;
        padding: 2rem;

        .list-profile-datas {
            .item-profile-datas {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 0;

                &:not(:last-child) {
                    border-bottom: .15rem solid $grey-light;
                }

                label {
                    font-family: $font-family-secondary;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    font-weight: $medium;
                    margin-right: 2rem;

                    [class^="icon-"],
                    [class*=" icon-"] {
                        margin-right: 1rem;
                    }
                }

                span {
                    color: $orange-light;
                }

                button {
                    border: .15rem solid $orange-light;
                    border-radius: 5rem;
                    background: transparent;
                    margin: 0;
                    padding: .5rem 1rem;
                    font-family: $font-family-primary;
                    font-size: 1.4rem;
                    font-weight: $medium;
                    text-transform: uppercase;
                    text-align: right;
                    letter-spacing: .1rem;
                    color: $orange-light;
                }
            }
        }

        .wrap-logout {
            border-top: .15rem solid $grey-light;
            padding: 2rem 0 0 0;

            .button-logout {
                border: 0;
                background: transparent;
                width: 100%;
                margin: 0;
                padding: 1rem 0;
                font-family: $font-family-primary;
                font-size: 1.4rem;
                font-weight: $medium;
                text-transform: uppercase;
                letter-spacing: .1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $orange-dark;

                [class^="icon-"],
                [class*=" icon-"] {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
</style>