<template>
    <div>
        <header class="wrap-main-header">
            <h1 class="main-title"><span @click="handleGoBack()"><i class="icon-back"></i></span>Quiz</h1>
        </header>

        <div v-if="!loaded" class="wrap-loading-logo">
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
        </div>

        <main v-else>
            <div v-for="(question, key) in questions"
                     :key="question.id"
                     v-if="index === key"
                     class="item-question">

                <header class="wrap-head-question">
                    <div class="wrap-image-category">
                        <img class="image-category" :src="getRandomCategoryImage(question.categories)"/>
                    </div>
                    <p class="current-question">Question {{ key + 1 }}/10</p>
                    <div class="wrap-question">
                        <ul class="list-rule-categories">
                            <li v-for="category in question.categories"
                                v-bind:key="category.id"
                                class="item-rule-category">
                                {{ category.name }}
                            </li>
                        </ul>
                        <h3 class="title-rule">{{ question.name }}</h3>
                    </div>
                </header>

                <section class="wrap-content-quiz">
                    <ul class="wrap-list-answers">
                        <li v-for="answer in question.answers"
                            :key="answer.id"
                            class="item-answer">
                            <button class="button-answer" @click="action(answer)">{{ answer.name }}</button>
                        </li>
                    </ul>
                </section>

                <button v-if="isAnswerSelected && !end" @click="showExplanation" class="button-next-question">Continuer</button>
                <button v-else-if="isAnswerSelected && end" @click="sendScore" class="button-next-question">Terminer</button>
            </div>
        </main>

        <transition name="zoom"
            mode="in-out"
            enter-active-class="zoom-enter-active">
            <modal v-show="isModalVisible"
                    @close="closeModal">
                <h4 class="title-modal" v-if="correctAnswer" slot="header"><i class="icon-good"></i>Bonne réponse</h4>
                <h4 class="title-modal" v-else slot="header"><i class="icon-wrong"></i>Mauvaise réponse</h4>
                <p slot="body">{{ explanation }}</p>
            </modal>
        </transition>
    </div>
</template>

<script>
    import Spinner from './Spinner';
    import modal from './Modal.vue';

    export default {
        components: {
            Spinner,
            modal,
        },
        mounted() {
            console.log('Component Quiz mounted.')
        },
        data() {
            return {
                loaded: false,
                index: 0,
                score: 0,
                end: false,
                // variants: [...Array(4)],
                isAnswerSelected: false,
                answerSelected: false,
                isModalVisible: false,
                correctAnswer: false,
                explanation: undefined,
                totalGoodAnswers: 0,
                totalScore: 0
            }
        },
        methods: {
            handleGoBack() {
                // this.isModalVisible = true;
                this.$router.push({ name: 'dashboard' });
            },
            getRandomCategoryImage(categories) {
                let item = categories[Math.floor(Math.random()*categories.length)];
                return '../svg/categories/' + item.image;
            },
            action(answer) {
                this.answerSelected = answer;
                this.isAnswerSelected = true;
                // this.variants[this.questions[this.index].ok] = 'success';
                if(this.index == this.questions.length - 1) {
                    this.end = true;
                }
            },
            showExplanation() {
                console.log("answer : " + this.answerSelected);
                console.log("answer.correct : " + this.answerSelected.correct);

                // Test bonne réponse
                if (this.answerSelected.correct) {
                    this.totalScore += this.questions[this.index].difficulty.points;
                    this.correctAnswer = true;
                    this.totalGoodAnswers++;
                } else {
                    this.correctAnswer = false;
                }

                this.explanation = this.questions[this.index].explanation;

                this.isModalVisible = true;
            },
            closeModal() {
                this.isAnswerSelected = false;
                this.index++;

                this.isModalVisible = false;
            },
            sendScore() {
                console.log(this.totalScore);
                this.$store.dispatch('saveScore', {
                    score: this.totalScore
                }).then(response => {
                    console.log(response);
                    this.$router.push({
                        name: 'dashboard',
                        params: {
                            score: this.totalScore,
                            goodAnswers: this.totalGoodAnswers
                        }
                    });
                });
            }
        },
        created() {
            this.$store.dispatch('getQuiz').then(res => {
                this.loaded = true;
            });
        },
        computed: {
            questions () {
                return this.$store.state.quiz;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/app.scss';

    main {
        padding: 1.5rem;
    }

    .item-question {
        width: 100%;

        .wrap-head-question {
            z-index: 1;
            max-width: 30rem;
            height: 20rem;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 1rem 2rem;

            .wrap-image-category {
                position: absolute;
                top: 0;
                z-index: -1;
                width: 100%;
                height: 20rem;
                border-radius: 1rem;
                overflow: hidden;

                .image-category {
                    object-fit: cover;
                    height: 100%;
                }
            }

            .current-question {
                font-family: $font-family-secondary;
                color: $white;
                text-transform: uppercase;
            }

            .wrap-question {
                .list-rule-categories {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .item-rule-category {
                        padding: .5rem 1rem;
                    }
                }

                .title-rule {
                    font-weight: $bold;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    color: $white;
                }
            }
        }

        .wrap-content-quiz {
            background-color: $white;
            @include shadow();
            border-radius: 1rem;
            margin: 0 auto;
            margin-top: -5rem;
            z-index: -3;
            padding-top: 5rem;

            .wrap-list-answers {
                .item-answer {
                    &:last-child {
                        padding-bottom: 3rem;
                    }
                    &:not(:last-child) {
                        border-bottom: .1rem solid $grey-light;
                    }
                    .button-answer {
                        width: 100%;
                        background-color: transparent;
                        border: 0;
                        padding: 3rem 1rem;
                        font-family: $font-family-secondary;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        color: $orange-dark;

                        &:focus {
                            background-color: $grey-light;
                        }
                    }
                }
            }
        }

        .button-next-question {
            width: 26rem;
            height: 5rem;
            background: linear-gradient(to right, $orange-dark, $orange-light);
            border: none;
            border-radius: 5rem;
            font-size: 2rem;
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: $white;
            display: block;
            margin: -2.5rem auto 0 auto;
        }
    }

    .modal-header {
        .title-modal {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: $medium;

            [class^="icon-"],
            [class*=" icon-"] {
                font-size: 2.5rem !important;
                margin-right: 1rem !important;
            }
        }
    }

    .zoom-enter-active,
    .zoom-leave-active {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: zoom;
    }

    .zoom-leave-active {
        animation-direction: reverse;
    }

    @keyframes zoom {
        from {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        100% {
            opacity: 1;
        }
    }
</style>