<template>
    <div>
        <div>
            <form method="POST" action="#" @submit.prevent="register">
                <div class="wrap-input">
                    <input class="input" id="email" type="email" name="email" v-model="email" required autofocus>
                    <span class="focus-input" data-placeholder="Quelle est votre adresse e-mail ?"></span>
                    <i class="icon-input icon-mail"></i>
                </div>

                <div class="wrap-input">
                    <span class="toggle-visibility" title="Montrer/Cacher" @click.stop.prevent="switchVisibility"><i :class="this.passwordFieldType === 'password' ? 'icon-eye' : 'icon-feye'"></i></span>
                    <input class="input" id="password" :type="passwordFieldType" name="password" v-model="password" required>
                    <span class="focus-input" data-placeholder="Quel est votre mot de passe ?"></span>
                    <i class="icon-input icon-password"></i>
                </div>

                <div class="wrap-input">
                    <span class="label-input">Quel est votre sexe ?</span>
                    <div class="wrap-radio">
                        <input type="radio" id="male" value="male" v-model="gender">
                        <label for="male">Homme</label>
                    </div>
                    <div class="wrap-radio">
                        <input type="radio" id="female" value="female" v-model="gender">
                        <label for="female">Femme</label>
                    </div>
                </div>

                <div class="wrap-input" style="margin-bottom: 0">
                    <input class="input has-val" id="pseudo" type="text" name="pseudo" v-model="pseudo" required>
                    <span class="focus-input" data-placeholder="Quel roi ou renne seriez-vous ?"></span>
                    <i class="icon-input icon-pseudo"></i>
                </div>
                <button class="button-ruler" @click.stop.prevent="getRuler()"><i class="icon-random"></i>Choisir aléatoirement</button>

                <button class="button-form-validation" type="submit">S'inscrire</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'auth',
        data() {
            return {
                email: '',
                password: '',
                passwordFieldType: 'password',
                gender: 'male',
                pseudo: '',
            }
        },
        created() {
            this.$store.dispatch('getRulers').then(res => {
                this.getRuler();
            });
        },
        computed: {
            rulers() {
                return this.$store.state.rulers;
            }
        },
        methods: {
            switchVisibility() {
                this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password';
            },
            getRuler() {
                let genderRulers = this.rulers.filter(ruler => ruler.gender === this.gender);
                let randomGenderRuler = genderRulers[Math.floor(Math.random() * genderRulers.length)];
                this.pseudo = randomGenderRuler.name;
            },
            register() {
                this.$store.dispatch('register', {
                    email: this.email,
                    password: this.password,
                    gender: this.gender,
                    pseudo: this.pseudo,
                }).then(response => {
                    console.log(response);
                    this.$router.push({ name: 'home' })
                });
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/app.scss';

    .label-input {
        font-family: $font-family-secondary;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $orange-dark;
        line-height: 1.2;
        display: block;
        width: 100%;
    }

    .toggle-visibility {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
        background: transparent;
        color: $orange-light;

        [class^="icon-"],
        [class*=" icon-"] {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .wrap-radio {
        display: flex;
        margin: 16px 0;

        $radioSize: 1.5rem;
        $radioBorder: $grey-light;
        $radioActive: $orange-dark;

        input {
            display: none;
            & + label {
                line-height: $radioSize;
                height: $radioSize;
                padding-left: $radioSize;
                display: block;
                position: relative;
                &:not(:empty) {
                    padding-left: $radioSize + 1rem;
                }
                &:before,
                &:after {
                    content: '';
                    width: $radioSize;
                    height: $radioSize;
                    display: block;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    position: absolute;
                }
                &:before {
                    background: $radioBorder;
                    transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
                }
                &:after {
                    background: #fff;
                    transform: scale(.78);
                    transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
                }
            }
            &:checked + label {
                &:before {
                    transform: scale(1.04);
                    background: $radioActive;
                }
                &:after {
                    transform: scale(.4);
                    transition: transform .3s ease;
                }
            }
        }
        &:hover {
            input {
                & + span {
                    &:before {
                        transform: scale(.92);
                    }
                    &:after {
                        transform: scale(.74);
                    }
                }
                &:checked + span {
                    &:after {
                        transform: scale(.4);
                    }
                }
            }
        }
    }

    .button-ruler {
        background: transparent;
        border: .15rem solid $orange-light;
        border-radius: 5rem;
        font-family: $font-family-secondary;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $orange-light;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        margin: 1rem 0 4rem auto;

        [class^="icon-"],
        [class*=" icon-"] {
            height: 100%;
            margin-right: 1rem;
        }
    }

</style>
