<template>
    <div>
        <header class="wrap-main-header">
            <h1 class="main-title"><span @click="handleGoBack()"><i class="icon-back"></i></span>Détail</h1>
            <!--<span><i class="icon-share"></i></span>-->
        </header>

        <div v-if="!loaded" class="wrap-loading-logo">
            <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
        </div>

        <main v-else>
            <section class="wrap-head-question">
                <div class="wrap-image-rounded">
                    <img :src="categoryImage"/>
                </div>

                <div class="wrap-rule-details">
                    <ul class="list-rule-categories">
                        <li v-for="category in rule.categories"
                            v-bind:key="category.id"
                            class="item-rule-category">
                            {{ category.name }}
                        </li>
                    </ul>

                    <div class="wrap-rule-main-details">
                        <h3 class="title-rule">{{ rule.name }}</h3>
                        <ul class="list-rule-details">
                            <li class="item-rule-detail"><i class="icon-eye"></i>{{ rule.views }}</li>
                            <li class="item-rule-detail"><i class="icon-heart"></i>{{ rule.favourites }}</li>
                            <li class="item-rule-detail"><i class="icon-rate"></i>{{ rule.rating }}</li>
                            <li class="item-rule-detail"><i class="icon-share"></i>{{ rule.sharing }}</li>
                        </ul>
                    </div>
                </div>

                <div v-if="loggedIn" class="wrap-ratings">
                    <div v-on:click="showRating = !showRating"><i :class="[ !rating ? 'icon-rate' : 'icon-frate' ]"></i></div>
                    <div class="wrap-input-rates" v-show="showRating">
                        <div class="item-input-rate" v-for="(emoji, key) in emojis">
                            <input type="radio" :id="emoji.id" :value="emoji.rate" v-model="rating" :style="{ background: 'url(' + emoji.path + ')' }"  @change="isRated">
                        </div>
                    </div>
                </div>
            </section>
            <section class="wrap-content-question">
                <p>{{ rule.explanation }}</p>
            </section>

            <div v-if="loggedIn" class="wrap-favourite">
                <input type="checkbox" id="favourited" :class="{ active: favourited }" v-model="favourited" @change="isFavourited">
            </div>
        </main>
    </div>
</template>

<script>
    import Spinner from './Spinner';

    export default {
        name: 'rule-single',
        components: {
            Spinner,
        },
        data() {
            return {
                loaded: false,
                categoryImage: null,
                rating: false,
                showRating: false,
                emojis: [
                    {
                        id: 'angry',
                        rate: '1',
                        path: '../svg/emojis/angry.svg'
                    },
                    {
                        id: 'sad',
                        rate: '2',
                        path: '../svg/emojis/sad.svg'
                    },
                    {
                        id: 'neutral',
                        rate: '3',
                        path: '../svg/emojis/neutral.svg'
                    },
                    {
                        id: 'smile',
                        rate: '4',
                        path: '../svg/emojis/smile.svg'
                    },
                    {
                        id: 'happy',
                        rate: '5',
                        path: '../svg/emojis/happy.svg'
                    },
                ],
                favourited: false,
                timeOut: false,
            }
        },
        created() {
            console.log("created");
            this.$store.dispatch('getRule', {
                id: this.$route.params.id
            }).then(res => {
                let item = this.rule.categories[Math.floor(Math.random()*this.rule.categories.length)];
                this.categoryImage = '../svg/categories/' + item.image;

                this.favourited = this.rule.questions_users ? (this.rule.questions_users[0] ? (this.rule.questions_users[0].favourite ? true : false) : false) : false;
                this.rating = this.rule.questions_users ? (this.rule.questions_users[0] ? this.rule.questions_users[0].rating ? this.rule.questions_users[0].rating : false : false) : false;
                let hasBeenRead = this.rule.questions_users ? (this.rule.questions_users[0] ? this.rule.questions_users[0].viewed : false) : false;
                if (!hasBeenRead) {
                    if (this.loggedIn) {
                        this.isViewed();
                    }
                }
                this.loaded = true;
            }).catch(err => console.log(err));

        },
        mounted() {
            console.log("mounted");
        },
        computed: {
            rule() {
                return this.$store.state.rule;
            },
            loggedIn() {
                return this.$store.getters.loggedIn;
            },
        },
        methods: {
            isFavourited() {
                this.$store.dispatch('isFavourited', {
                    rule: this.rule.id,
                    favourite: this.favourited,
                });
            },
            isRated() {
                this.$store.dispatch('isRated', {
                    rule: this.rule.id,
                    rate: this.rating,
                });
            },
            isViewed() {
                let explanation = this.rule.explanation;
                let numberWordsExplanation = explanation.split(' ');
                // 300 words per minute
                // let readWordPerMillisecond = 150;
                console.log(numberWordsExplanation.length);
                let readTime = numberWordsExplanation.length * 300;
                console.log(readTime);
                const vm = this;
                console.log(vm);
                this.timeOut = setTimeout(function() {
                    vm.$store.dispatch('isViewed', {
                        rule: vm.rule.id,
                    }).then(response => {
                        console.log("read it");
                    });
                }, readTime);
            },
            handleGoBack() {
                if (this.timeOut) {
                    clearTimeout(this.timeOut);
                    this.timeOut = 0;
                }
                this.$router.back();
            },
        },
    }
</script>

<style lang="scss">
    @import '~@/app.scss';

    main {
        position: relative;
        overflow: hidden;
        margin-bottom: 10rem;

        .wrap-head-question {
            position: relative;
            width: 100%;
            height: 35rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 0 3rem;

            .wrap-image-rounded {
                position: absolute;
                top: 0;
                z-index: -1;
                left: -30%;
                width: 180%;
                height: 40rem;
                border-radius: 0 0 50% 50%;
                -moz-border-radius: 0 0 50% 50%;
                -webkit-border-radius: 0 0 50% 50%;
                overflow: hidden;
                @include shadow();

                img {
                    position: absolute;
                    top: 0;
                    left: -25%;
                    width: 120%;
                    object-fit: cover;
                }
            }

            .wrap-rule-details {
                width: 100%;
                display: flex;
                flex-flow: column wrap;

                .list-rule-categories {
                    justify-content: initial;

                    .item-rule-category {
                        font-size: 1.2rem;
                        padding: .5rem 1.5rem;
                    }
                }

                .title-rule {
                    font-size: 2rem;
                    line-height: 2.4rem;
                    font-weight: $bold;
                    color: $white;
                }

                .list-rule-details {
                    color: $white;

                    .item-rule-detail {
                        border-color: $white;
                    }
                }
            }

            .wrap-ratings {
                position: absolute;
                bottom: -7.5rem;
                width: 100%;
                display: flex;
                justify-content: center;

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 5rem;
                    height: 5rem;
                    background-color: $orange-light;
                    color: $white;
                    font-size: 2.5rem;
                    border-radius: 50%;
                    @include shadow();
                }

                .wrap-input-rates {
                    z-index: 1;
                    position: absolute;
                    top: 5.5rem;
                    width: calc(100% - 5rem);
                    background-color: $white;
                    @include shadow();
                    display: flex;
                    border-radius: 5rem;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -1rem;
                        left: calc(50% - 1rem);
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 1rem 1rem 1rem;
                        border-color: transparent transparent $white transparent;
                    }
                    .item-input-rate {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-grow: 1;

                        input[type="radio"] {
                            -webkit-appearance: none;
                            background-size: 2.5rem !important;
                            background-repeat: no-repeat !important;
                            background-position: center !important;
                            border-radius: 50%;
                            width: 4.5rem;
                            height: 4.5rem;
                            border: none;
                            cursor: pointer;
                            transition: all .2s ease;

                            &:hover,
                            &:checked,
                            &:focus,
                            &:active {
                                background-color: $grey-light !important;
                                background-size: 3.5rem !important;
                                transition: all .2s ease;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        .wrap-content-question {
            position: relative;
            z-index: -2;
            background-color: $grey-light;
            @include shadow();
            /*width: 33rem;*/
            margin: 0 1.5rem;
            padding: 9rem 1.5rem 2rem 1.5rem;
            -moz-border-radius: 1rem;
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
        }

        .wrap-favourite {
            position: relative;
            top: -2.5rem;
            margin: 0 2.5rem 0 auto;
            background-color: $orange-light;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include shadow();

            input[type='checkbox'] {
                -webkit-appearance: none;
                margin: 0;
                border: none;
                cursor: pointer;
                transition: all .2s ease;

                &:before {
                    font-family: "icomoon" !important;
                    content: "\E90B";
                    font-size: 2.5rem;
                    color: $white;
                    transition: all .2s ease;
                }

                &.active {
                    &:before {
                        content: "\E906";
                    }
                }
            }
        }
    }
</style>
