<template>
    <div>
        <main class="wrap-main-content">
            <!--<div class="wrap-research">-->
                <!--<div class="wrap-search-bar">-->
                    <!--<div class="icon-search">-->
                        <!--O-->
                    <!--</div>-->
                    <!--<input type="search" class="input-search" placeholder="Faire une recherche dans le titre, la description..." @keyup.enter="searchRule" />-->
                    <!--<div class="icon-cancel">-->
                        <!--<button>X</button>-->
                    <!--</div>-->
                    <!--<div class="icon-filters">-->
                        <!--<button>=</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="wrap-search-options">-->

                <!--</div>-->
            <!--</div>-->

            <div class="wrap-rules">
                <transition-group name="fade"
                        mode="out-in">
                    <section v-for="rule in rules.data"
                         :key="rule.id"
                         class="item-rule">
                        <div class="wrap-rule-categories">
                            <img :src="getRandomCategoryImage(rule.categories)"/>
                            <!--<div v-if="$router.currentRoute.path === '/favourites'" class="wrap-delete-button">-->
                                <!--<button @click="deleteFavourite(rule.id)"><i class="icon-delete"></i></button>-->
                            <!--</div>-->
                            <ul class="list-rule-categories">
                                <li v-for="category in rule.categories"
                                     v-bind:key="category.id"
                                     class="item-rule-category">
                                    {{ category.name }}
                                </li>
                            </ul>
                        </div>

                        <router-link :to="{ name: 'rule', params: { id: rule.id }}"
                            tag="div"
                            route='/rules'
                            class="wrap-rule-details">
                            <div class="wrap-rule-main-details">
                                <h3 class="title-rule">{{ rule.name }}</h3>
                                <ul class="list-rule-details">
                                    <li class="item-rule-detail">
                                        <i :class="[ rule.questions_users ? (rule.questions_users[0] ? (rule.questions_users[0].viewed ? 'icon-feye' : 'icon-eye') : 'icon-eye') : 'icon-eye' ]"></i>
                                        {{ rule.views }}
                                    </li>
                                    <li class="item-rule-detail">
                                        <i :class="[ rule.questions_users ? (rule.questions_users[0] ? (rule.questions_users[0].favourite ? 'icon-fheart' : 'icon-heart') : 'icon-heart') : 'icon-heart' ]"></i>
                                        {{ rule.favourites }}
                                    </li>
                                    <li class="item-rule-detail">
                                        <i :class="[ rule.questions_users ? (rule.questions_users[0] ? (rule.questions_users[0].rating > 0 ? 'icon-frate' : 'icon-rate') : 'icon-rate') : 'icon-rate' ]"></i>
                                        {{ rule.rating }}
                                        {{ rule.users ? rule.users.favourite : rule.users }}
                                    </li>
                                    <!--<li class="item-rule-detail">-->
                                        <!--<i :class="[ rule.questions_users ? (rule.questions_users[0] ? (rule.questions_users[0].shared ? 'icon-fshare' : 'icon-share') : 'icon-share') : 'icon-share' ]"></i>-->
                                        <!--{{ rule.sharing }}-->
                                    <!--</li>-->
                                </ul>
                            </div>
                            <div class="wrap-rule-see-more">
                                <span>></span>
                            </div>
                        </router-link>
                    </section>
                </transition-group>
            </div>

            <nav v-if="pagination.last_page > 1" class="wrap-pagination">
                <ul>
                    <li class="paginate" v-bind:class="[{disabled: !pagination.previous_page_url}]">
                        <a href="#" @click="fetchRules(pagination.previous_page_url)"><i class="icon-back"></i></a>
                    </li>
                    <li v-bind:class="[{disabled: !pagination.previous_page_url}]">
                        <a href="#" @click="fetchRules(pagination.previous_page_url)">Page {{ pagination.current_page }} sur
                            {{ pagination.last_page }} </a>
                    </li>
                    <li class="paginate" v-bind:class="[{disabled: !pagination.next_page_url}]">
                        <a href="#" @click="fetchRules(pagination.next_page_url)"><i class="icon-back"></i></a>
                    </li>
                </ul>
            </nav>
        </main>
    </div>
</template>

<script>
    export default {
        name: 'rule-list',
        props: [
            'rules',
            'pagination'
        ],
        data() {
            return {
                // pagination: {},
            }
        },
        mounted() {
            console.log('Component Rule mounted.');
            // this.makePagination(this.$props.rules.meta, this.$props.rules.links);
        },
        created() {
            console.log('Component Rule created.');
            console.log(this.rules.data);
            console.log(this.$props.rules.data);
            // this.makePagination(this.rules.meta, this.rules.links);
        },
        computed: {
            // rules() {
            //     console.log(this.$store.state.rules.data);
            //     return this.$store.state.rules.data;
            // }
        },
        methods: {
            searchRule() {
                alert("search");
            },
            fetchRules(page_url) {
                this.$emit('fetchRules', page_url);
            },
            getRandomCategoryImage(categories) {
                let item = categories[Math.floor(Math.random()*categories.length)];
                return '../svg/categories/'+item.image;
            },
            // deleteFavourite(id) {
            //     console.log("deleteFavourite");
            //     if (confirm('Êtes-vous certain ?')) {
            //         this.$store.dispatch('deleteFavourite', {
            //             favourite: id,
            //         })
            //     }
            // }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/app.scss';

    .wrap-main-content {
        padding: 0 2rem;
        margin-bottom: 10rem;

        .wrap-research {
            margin-top: 1.5rem;

            .wrap-search-bar {
                display: flex;
                align-items: center;
                width: 100%;
                height: 4.5rem;
                border: .1rem solid $grey-light;
                -moz-border-radius: 5rem;
                -webkit-border-radius: 5rem;
                border-radius: 5rem;
                @include shadow();

                .icon-search,
                .input-search,
                .icon-reset,
                .icon-filters {
                    padding: 1.5rem;
                    color: $grey-light;
                }

                .icon-search {
                    padding-right: .75rem;
                    height: 4.3rem;
                }

                .input-search {
                    flex-grow: 1;
                    height: 4.3rem;
                    border: 0;
                    padding-left: .75rem;
                }

                .icon-filters {
                    border-left: .2rem solid $grey-light;
                    color: $orange-light;
                }

            }
        }

        .wrap-rules {
            .item-rule {
                margin: 1rem 0;

                .wrap-rule-categories {
                    position: relative;
                    overflow: hidden;
                    z-index: -1;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: flex-end;
                    align-items: center;
                    height: 20rem;
                    background-color: $orange-light;
                    -moz-border-radius: 1rem;
                    -webkit-border-radius: 1rem;
                    border-radius: 1rem;
                    padding: 1.5rem 1.5rem 5rem 1.5rem;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 1rem;
                        /*min-height: 105%;*/
                        min-width: 105%;
                        z-index: -1;
                    }

                    .wrap-delete-button {
                        width: 100%;
                        text-align: right;

                        button {
                            border: 0;
                            background: transparent;
                            margin: 0 auto 0 0;

                            i {
                                font-size: 2rem;
                                color: $white;
                            }
                        }
                    }
                }

                .wrap-rule-details {
                    display: flex;
                    margin: 0 1.5rem;
                    margin-top: -4rem;
                    background-color: $grey-light;
                    @include shadow();
                    -moz-border-radius: 1rem;
                    -webkit-border-radius: 1rem;
                    border-radius: 1rem;

                    .wrap-rule-main-details {
                        width: calc(100% - 4rem);
                        background-color: $white;
                        @include shadow();
                        -moz-border-radius: 1rem;
                        -webkit-border-radius: 1rem;
                        border-radius: 1rem;
                        padding: 1.5rem 2rem;

                        .title-rule {
                            color: $pink;
                            font-weight: $bold;
                            line-height: 1.3;
                        }
                    }

                    .wrap-rule-see-more {
                        font-size: 1.5rem;
                        font-weight: $bold;
                        color: $pink;
                        margin: auto;
                    }
                }
            }
        }

        .wrap-pagination {
            margin-top: 2rem;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    &.paginate {
                        background-color: #e6e2e7;
                        border-radius: 5rem;
                        padding: 1rem 2rem;

                        &:last-child {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
</style>