<template>
    <div class="background">
        <main>
            <transition name="fade">
                <img id="logo" src="/svg/logo.svg" alt="Logotype de l'application Savoir-Vivre en forme de smiley avec une couronne, des lunettes de soleil et un noeud papillon"/>
            </transition>
        </main>
    </div>
</template>

<script>
    export default {
        name: 'spinner',
    }
</script>

<style lang="scss" scoped>
    @import '~@/app.scss';

    .background {
        height: 100vh;

        main {
            height: 100%;
            margin-bottom: 0;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #logo {
        width: 100%;
        max-width: 30rem;
    }
</style>