// Icons
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icons/icomoon.eot?h73c74');
  src:  url('/fonts/icons/icomoon.eot?h73c74#iefix') format('embedded-opentype'),
  url('/fonts/icons/icomoon.ttf?h73c74') format('truetype'),
  url('/fonts/icons/icomoon.woff?h73c74') format('woff'),
  url('/fonts/icons/icomoon.svg?h73c74#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e903";
}
.icon-fcomment:before {
  content: "\e904";
}
.icon-feye:before {
  content: "\e905";
}
.icon-fheart:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e907";
}
.icon-frate:before {
  content: "\e908";
}
.icon-fshare:before {
  content: "\e909";
}
.icon-good:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-logout:before {
  content: "\e90c";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-notification:before {
  content: "\e90e";
}
.icon-ordering:before {
  content: "\e90f";
}
.icon-password:before {
  content: "\e910";
}
.icon-pseudo:before {
  content: "\e911";
}
.icon-quiz:before {
  content: "\e912";
}
.icon-random:before {
  content: "\e913";
}
.icon-rate:before {
  content: "\e914";
}
.icon-reset:before {
  content: "\e915";
}
.icon-rule:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-sound:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-wrong:before {
  content: "\e91b";
}


// Typography
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

@font-face {
  font-family: 'ubuntu_condensedregular';
  src: url('/fonts/ubuntu/ubuntu-c-webfont.eot');
  src: url('/fonts/ubuntu/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ubuntu/ubuntu-c-webfont.woff2') format('woff2'),
  url('/fonts/ubuntu/ubuntu-c-webfont.woff') format('woff'),
  url('/fonts/ubuntu/ubuntu-c-webfont.ttf') format('truetype'),
  url('/fonts/ubuntu/ubuntu-c-webfont.svg#ubuntu_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-family-primary: "Ubuntu", Arial, Helvetica, sans-serif;
$font-family-secondary: "ubuntu_condensedregular", Tahoma, Geneva, sans-serif;
$line-height-base: 1.8rem;
$regular: 400;
$medium: 500;
$bold: 700;


// Colors
$orange-dark: #dc6016;
$orange-light: #ff8e6c;
$yellow: #ffd141;
$pink: #fe4a5d;
$grey-dark: #323e48;
$grey-light: #e6e2e7;
$white: #fff;


@mixin shadow() {
  -moz-box-shadow: 0 0 .5rem 0 $grey-light;
  -webkit-box-shadow: 0 0 .5rem 0 $grey-light;
  -o-box-shadow: 0 0 .5rem 0 $grey-light;
  box-shadow: 0 0 .5rem 0 $grey-light;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=$grey-light, Direction=NaN, Strength=5);
}